body {
    background-color: rgb(255, 255, 255);
}
#boavinda {
    margin-bottom: 50px;
    text-align: center;
}

#botoes button {
    border-radius: 20px;
    height: 50px;
    width: 350px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#clickBotao, #clickDuplo, #passarMouse{
    height: 100px;
}

button:hover {
  border: 2px solid #5800ff;
}

h1, button {
    display: block;
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

#form input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#form button {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: #5800ff;
    color: white;
    border: none;
}